*{
font-family:'Roboto', sans-serif; 
}

button{
	border-radius:3px;
	background-color:coral;
	color:#fff;
}
#caixa {
	width:400px;
	height:200px;
	background-color:#FFE4C4;
	padding:20px;
	text-align:center,
}
h2{
	color:#fff;
	text-shadow: 2px 2px #000;
}